<head>
    <link rel="stylesheet" href="./style1.css">
</head>

<footer>
    <nav class="foot-menu">
        <ul class="foot-menu__list">
        <li class="foot-menu__list__icons"><a href=""><img src="/src/views/img/SM-x.svg" alt=""></a></li>
        <li class="foot-menu__list__icons"><a href=""><img src="/src/views/img/SM-instagram.svg" alt=""></a></li>
        <li class="foot-menu__list__icons"><a href=""><img src="/src/views/img/SM-facebook.svg" alt=""></a></li>
        <li class="foot-menu__list__icons"><a href=""><img src="/src/views/img/SM-youtube.svg" alt=""></a></li>
        <li class="foot-menu__list__icons"><a href=""><img src="/src/views/img/SM-tiktok.svg" alt=""></a></li>
        </ul>
                             
        
        <ul class="foot-menu__list"> 
        <li class="foot-menu__list__items"><img src="/src/views/img/Spain.svg" alt=""></li>
        <li class="foot-menu__list__items"><a href="#">Spain</a></li>
        <li class="foot-menu__list__items"><a href="#">Privacy</a></li>
        <li class="foot-menu__list__items"><a href="#">Google&nbspNext&nbspCommitment</a></li>
        <li class="foot-menu__list__items"><a href="#">Sales&nbspTerms</a></li>
        <li class="foot-menu__list__items"><a href="#">Terms&nbspof&nbspService</a></li>
        </ul>
        
    </nav>
</footer>