<head>
    <link rel="stylesheet" href="./style1.css">
</head>

<header>
    <nav class="menu">
                <ul class="menu__list">
                    <a href="#"><img src="/src/views/img/google-logo.png" alt="logo" class="menu__list__logo"></a>
                    <li class="menu__list__items"><a href="#">Phones</a></li>
                    <li class="menu__list__items"><a href="#">Earbuds</a></li>
                    <li class="menu__list__items"><a href="#">Watches</a></li>
                    <li class="menu__list__items"><a href="#">Smart&nbspHome</a> </li>
                    <li class="menu__list__items"><a href="#">Accessories</a></li>
                    <li class="menu__list__items"><a href="#">Subscriptions</a></li>
                </ul> 

                <ul class="menu__icons"> 
                    <li class="menu__icons__right"><a href=""><img src="/src/views/img/Search.svg" alt="search"></a></li>
                    <li class="menu__icons__right"><a href=""><img src="/src/views/img/Help.svg" alt=""></a></li>
                    <li class="menu__icons__right"><a href=""><img src="/src/views/img/Cart.svg" alt=""></a></li>
                    <li class="menu__icons__right"><a href=""><img src="/src/views/img/Avatar.svg" alt=""></a></li>
                </ul>
    </nav>
    
</header>