<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Store</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.gstatic.com/store/images/favicons/favicon_gstore_48px_new.png" sizes="50x50px" type="img/png">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="./script.js"></script>

   <script>
      $(function() {
         $("#includeHeader").load("/src/layouts/nav-bar.html");
      });
   </script>
   <script>
    $(function() {
       $("#includeFooter").load("/src/layouts/footer.html");
    });
   </script>
</head>
<body>
    <div id="includeHeader"></div>    
    <main>
      <div class="main-wrapper">
      <div class="left-section">

        <div class="left-section__bubble1">
          <img class="left-section__bubble__img" src="/src/views/img/FitbitPorcelana1.png" alt="Fitbit Porcelana">
        </div>

        <div class="left-section__bubble2">
          <img class="left-section__bubble__img" src="/src/views/img/FitbitPorcelana2.png" alt="">
        </div>

        <div class="left-section__bubble3">
          <img class="left-section__bubble__img" src="/src/views/img/FitbitPorcelana3.png" alt="">
        </div>

      </div>

      <div class="center-section">
        <img class="center-section__img" src="/src/views/img/FitbitPorcelana1.png" alt="">
      </div>

      <div class="right-section">
        <div class="right-section__wrap">
        <h1>Fitbit</h1>
        <p>Hora & Tiempo</p>
        <h3>229€</h3>
        <hr />
        <div class="right-section__colors">
          <span class="right-section__colors__options"  data-color="dark" style="background-color: #363535"></span>
          <span class="right-section__colors__options"  data-color="light" style="background-color: #d9d7d7"></span>
          <span class="right-section__colors__options"  data-color="warm" style="background-color: #d28860"></span>
        </div>
        </div>
        <div class="right-section__shipping">
          <h2>229€</h2>
          <hr />
          <div class="right-section__shipping__cart">
            <input class="right-section__shipping__cart__input" type="text" value="1" min="1" max="1">
            <button class="right-section__shipping__cart__button"> Add to Cart</button>
          </div>
          <div class="right-section__shipping__date">
            <img src="/src/views/img/Delivery.svg" alt="Delivery"> <p>Deliver 29 Apr to</p> <form id="postalCodeForm">
              <input type="text" id="postalCode" placeholder="08023" minlength="5" maxlength="5" required>
            </form><p id="output"></p>
          </div>
          
        </div>
      </div>
    </div>

    
    </main>

    <footer id="includeFooter">

    </footer>
</body>