<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone-view</title>
    <link rel="stylesheet" href="phone1.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://www.gstatic.com/store/images/favicons/favicon_gstore_48px_new.png"
      sizes="50x50px"
      type="img/png"
    />
</head>
<body>
  <header>
    <nav class="menu">
      <ul class="menu__list">
        <a href="#"
          ><img
            src="/src/views/img/google-logo.png"
            alt="logo"
            class="menu__list__logo"
        /></a>
        <li class="menu__list__items"><a href="phone.html">Phones</a></li>
        <li class="menu__list__items"><a href="#">Earbuds</a></li>
        <li class="menu__list__items"><a href="fitbit.html">Watches</a></li>
        <li class="menu__list__items">
          <a href="tablet.html">Smart&nbspHome</a>
        </li>
        <li class="menu__list__items"><a href="#">Accessories</a></li>
        <li class="menu__list__items"><a href="#">Subscriptions</a></li>
      </ul>

      <ul class="menu__icons">
        <li class="menu__icons__right">
          <a href=""><img src="/src/views/img/Search.svg" alt="search" /></a>
        </li>
        <li class="menu__icons__right">
          <a href=""><img src="/src/views/img/Help.svg" alt="" /></a>
        </li>
        <li class="menu__icons__right">
          <a href=""><img src="/src/views/img/Cart.svg" alt="" /></a>
        </li>
        <li class="menu__icons__right">
          <a href=""><img src="/src/views/img/Avatar.svg" alt="" /></a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="left-section">
        <ul class="left-section__bubbles">
          <li>
            <img
              src="/src/views/img/PixelRosa1.png"
              class="left-section__bubbles__img"
              alt="Vista previa 1"
            />
          </li>
          <li>
            <img
              src="/src/views/img/PixelRosa2.png"
              class="left-section__bubbles__img"
              alt="Vista previa 2"
            />
          </li>
          <li>
            <img
              src="/src/views/img/PixelRosa3.png"
              class="left-section__bubbles__img"
              alt="Vista previa 3"
            />
          </li>
          <li>
            <img
              src="/src/views/img/PixelRosa4.png"
              class="left-section__bubbles__img"
              alt="Vista previa 3"
            />
          </li>
        </ul>

    </section>
    <section class="center-section">
      <img
        src="/src/views/img/PixelRosa1.png"
        class="center-section__product__img"
        alt="Producto principal"
      />
    </section>
    <section class="right-section">
      <div class="right-section__info">
        <h1>Pixel 9</h1>
        <p><b>Desde 799€ <del>899€</del></b></p>
        <p>o 266,33€/mes con 3 cuotas mensuales*</p>
        <p>Precio de venta habitual: 899€</p>
      </div>
      <h3>Elige un color</h3>
      <div class="right-section__colors">
        
         
         <div class="right-section__colors__circle">
          <button class="right-section__colors__options" data-color="pink" style="background-color: #e786a6">
          </button>
          <p>Rosa Peonía</p>
          </div>
          <div class="right-section__colors__circle">
          <button class="right-section__colors__options" data-color="lightgreen" style="background-color: #d7ead7">
          </button>
          <p>Verde pastel</p>
          </div>
          <div class="right-section__colors__circle">
          <button class="right-section__colors__options" data-color="warm" style="background-color: #ddd">
          </button>
          <p>Porcelana</p>
          </div>
          <div class="right-section__colors__circle">
          <button class="right-section__colors__options" data-color="dark" style="background-color: #343434">
          </button>
          <p>Obsidiana</p>
          </div>
          
          
          
        


      </div>
      <div class="right-section__options"></div>
      <div class="right-section__shipping"></div>
      <!--<p class="right-section__text">Escoge color</p>
            <p class="storage_text">Elige tu espacio de almacenamiento</p>
          <div class="storage_buttons">
            <button class="storage_button_1">
             <p>128 GB</p>
             <p>799 €</p>
            </button>
            <button class="storage_button_2">
             <p>256 GB</p>
             <p>899 €</p>
            </button>
          </div>
        </section>
          
    
        </section> 
        -->
  </main>


  <footer>
    <nav class="foot-menu">
      <ul class="foot-menu__list">
        <li class="foot-menu__list__icons">
          <a href="https://x.com/Google"
            ><img src="/src/views/img/SM-x.svg" alt=""
          /></a>
        </li>
        <li class="foot-menu__list__icons">
          <a href="https://www.instagram.com/google/"
            ><img src="/src/views/img/SM-instagram.svg" alt=""
          /></a>
        </li>
        <li class="foot-menu__list__icons">
          <a href="https://www.facebook.com/Googlee/?locale=es_ES"
            ><img src="/src/views/img/SM-facebook.svg" alt=""
          /></a>
        </li>
        <li class="foot-menu__list__icons">
          <a href="https://youtube.com/@googleespana?si=iAqllBmtXX5ya-yq"
            ><img src="/src/views/img/SM-youtube.svg" alt=""
          /></a>
        </li>
        <li class="foot-menu__list__icons">
          <a href="https://www.tiktok.com/@google?lang=es"
            ><img src="/src/views/img/SM-tiktok.svg" alt=""
          /></a>
        </li>
      </ul>

      <ul class="foot-menu__list" id="foot-menu__list">
        <li class="foot-menu__list__items">
          <img src="/src/views/img/Spain.svg" alt="" />
        </li>
        <li class="foot-menu__list__items"><a href="#">Spain</a></li>
        <li class="foot-menu__list__items"><a href="#">Privacy</a></li>
        <li class="foot-menu__list__items">
          <a href="#">Google&nbspNext&nbspCommitment</a>
        </li>
        <li class="foot-menu__list__items">
          <a href="#">Sales&nbspTerms</a>
        </li>
        <li class="foot-menu__list__items">
          <a href="#">Terms&nbspof&nbspService</a>
        </li>
      </ul>
    </nav>
  </footer>

</body>
</html>